<h1>
  The Collection of
  <br>
  James Alfred Duncalfe
</h1>

<ul id="first-tier">
  <li>{{#link-to 'index'}}All Albums{{/link-to}}</li>
  <li {{action (action this.attrs.randomRelease)}}>Random Album</li>
  <li>
    <div {{action 'show' 'genres'}}>By Genre</div>
    {{#if showGenres}}
      <ul class="second-tier">
        {{#each genres as |genre|}}
          <li>{{#link-to 'genre' genre.slug}}{{genre.id}}{{/link-to}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </li>
  <li>
    <div {{action 'show' 'years'}}>By Year</div>
    {{#if showYears}}
      <ul class="second-tier">
        {{#each years as |year|}}
          <li>{{#link-to 'year' year}}{{year}}{{/link-to}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </li>
</ul>
