{{#link-to 'release' release.id}}
  <div class="release-thumb" itemscope itemtype="http://schema.org/MusicGroup">
    <meta itemprop="thumbnail" content="{{release.image}}">
    <img src="{{release.image}}">
    <div class="details">
      <h2 itemprop="name">
        {{release.title}}
      </h2>
      <div class="artist">{{release.artist}}</div>
      <div class="length">{{release.tracks.length}} tracks</div>
      <div class="genres">
        {{#each release.genres as |genre|}}
          <span class="genre">{{genre.id}}</span>
        {{/each}}
      </div>
    </div>
  </div>
{{/link-to}}
